<div class="d-flex flex-column justify-content-center align-items-center mt-5">
  <h1>Social Media App</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <div>
    <%= link_to "Log In", new_user_session_path, class: "btn btn-primary mx-2" %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary mx-2" %>
  </div>
</div>
